$primaryColor: rgb(230, 157, 50);
$accentColor: rgb(255, 184, 0);
$baseColor: rgb(33, 33, 33);
$backgroundColor: rgba(242,242,242,1);
$headFont: 'Crimson Text', serif;
$baseFont: 'Open Sans', sans-serif;

body {
  margin: 0;
  font-size: 16px;
  background: $backgroundColor;
  color: $baseColor;
  font-family: $baseFont;
  @media screen and (max-width: 850px) {
    font-size: .8em;
  }
}

a {
  color: $primaryColor;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;

  &:hover {
    color: $accentColor;
  }

}

.container {
  background: $backgroundColor;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  padding: .5em;
  @media screen and (max-width: 850px) {
    padding: 0;
  }
}

.card-heading {
  font-family: $headFont;
  font-weight: normal;
  font-size: 1.8em;
}

h3 {
  font-family: $headFont;
  font-weight: normal;
  font-size: 1.5em;
  // border: 1px dashed $baseColor;
}

.sock-container {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 850px) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.sock-tile {
  flex: 1;
  display: block;
  background: white;
  // height: 100px;
  min-height: 100%;
  box-sizing: border-box;
  max-width: 480px;
  min-width: 45%;
  margin: 0 10px 15px 0;
  @media screen and (max-width: 850px) {
    max-width: 600px;
    min-width: 100%;
    text-align: center;
    margin: 0;
  }

  -webkit-box-shadow: 0 10px 6px -6px #AAA;
   -moz-box-shadow: 0 10px 6px -6px #AAA;
        box-shadow: 0 10px 6px -6px #AAA;

  .sock-tile-head {
    // background: $baseColor;
    background: rgba(44,44,44,1);
    background: -moz-linear-gradient(top, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,44,44,1)), color-stop(100%, rgba(60,60,60,1)));
    background: -webkit-linear-gradient(top, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    background: -o-linear-gradient(top, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    background: -ms-linear-gradient(top, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    background: linear-gradient(to bottom, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    color: $accentColor;
    padding-bottom: 5px;
  }

  .sock-tile-title {
    font-family: $headFont;
    font-weight: normal;
    font-size: 1.7em;
  }

  form {
      padding: 5px 5px 5px 15px;
      min-height: 100%;
      >table {
        border-collapse: collapse;
        margin: 0 auto;
        width: 95%;
        @media screen and (max-width: 850px) {
          width: 100%;
          table-layout: fixed;
          td {
            max-width: 15%;
            overflow: hidden;
          }
        }
      }
  }
}

.text-center {
  text-align: center;
}

tr:nth-child(even) {
  background: rgba($baseColor, 0.05);
}

nav {
  padding: 10px 15px;
  margin-bottom: 50px;
  margin: auto;

  .navbar-wide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

    >div {
      flex: 1;
    }

    .navbar-wide-left {
      text-align: left;
      padding-top: 1em;
    }

    .navbar-wide-right {
      text-align: right;
      padding-top: 1em;
    }
  }

  .navbar-narrow {
    display: none;
    width: 100%;

    >div {
      text-align: center;
    }

    .menu-narrow {
      display: none;
      width: 100%;

      >* {
        display: block;
        width: 100%;
        padding: 0.3em;
        text-align: center;
        border-bottom: 1px dotted rgba($baseColor, 0.05);
      }
    }
  }

  @media screen and (max-width: 850px) {
    .navbar-wide {
      display: none;
    }

    .navbar-narrow {
      display: block;
    }
  }
}


.nav a {
  margin: 0 8px;
}

.bottom-bar {
  position: fixed;
  text-align: center;
  left: 0px;
  bottom: 0px;
  min-height: 64px;
  width: 100%;
  color: $primaryColor;
  background: $backgroundColor;
  border-top: 1px dotted $baseColor;
  display: flex;
  justify-content: space-between;

  .bottom-bar-summary {
    padding-top: 0.3em;
    font-family: $headFont;
    font-weight: normal;
    font-size: 1.8em;
    @media screen and (max-width: 850px) {
      padding-top: 0.1em;
      font-size: 1.3em;
    }
  }

  @media screen and (max-width: 850px) {
    flex-direction: column;
  }

  .bottom-bar-left {
    flex: 1;
    padding-left: 3em;
    @media screen and (max-width: 850px) {
      padding-top: 0.5em;
      padding-left: 0;
    }
  }

  .bottom-bar-right {
    flex: 1;
    padding-right: 3em;
    padding-top: 0.7em;
    @media screen and (max-width: 850px) {
      padding-bottom: 0.5em;
      padding-right: 0;
    }
  }
}

.bottom-bar-padding {
  height: calc(100vh - 167px);
  overflow: auto;
  @media screen and (max-width: 850px) {
    height: calc(100vh - 180px);
  }
}

.content {
  width: 100%;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.default-shipping {
  margin: auto;
  padding: 1em 3em 1em 3em;
}

.default-shipping-admin {
  display: flex;
  align-content: space-between;



  > div {
    flex: 1;
    min-width: 50%;
  }

  @media screen and (max-width: 850px) {
    flex-direction: column;
    text-align: center;

    .button-text {
      font-size: .8em;
    }
  }
}

.additional-info {
  display: flex;
  width: 100%;
  padding-top: 1em;
}

.additional-info-box {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  @media screen and (max-width: 850px) {
    flex-direction: column;
  }
}

.hidden {
  display: none;
}

.overlay-spinner {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
}

.center {
  margin: auto;
}

.additional-info-column {
  /*width: 100px;*/
  margin: auto;
}

.filter-input {
  display: flex;
   > div {
     flex: 2;
     text-align: left;
     line-height: 110%;
   }
   > TextField {
     flex: 3;
   }
   .filter-clear {
     padding-left: 5px;
     cursor: pointer;
   }
   .filter-clear:hover {
     color: $accentColor;
     transition: 0.4s;
   }
}

.success {
  padding: 10px;
  margin: auto auto 15px auto;
  background: $primaryColor;
  border-radius: 5px;
  border: 2px dotted $accentColor;
  color: white;
  width: 70%;
  font-size: 1.2em;
}

.summary-info {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  font-size: 1.2em;
  background: rgba($baseColor, 0.05);
  border: 1px solid $baseColor;

  > div {
    flex: 1;
    padding: 5px;
  }

  .col-left {
    text-align: right;
  }

  .col-right {
    text-align: left;
  }
}


.warning-message {
  font-style: italic;
  font-size: 0.8em;
  color: rgb(210, 139, 65);
  padding: 10px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.order-input {
  width: 3em;
}

.pointer:hover {
  cursor: pointer;
  background: $primaryColor;
  transition: 0.4s;
}

.order-history {
  width: 100%;
}

.user-upgrade {
  margin: 10px;

  .user-upgrade-info {
    border: 1px dotted $baseColor;
    padding: 3px;
    margin: auto;
    display: flex;
    width: 40%;
    > div {
      flex: 2;
    }
    .checkbox {
      flex: 1;
      max-width: 100px;
    }
  }
}

.csv-download {
  padding: 10px 0 20px 0;
  margin: 10px 0 20px 0;
  border: 1px dotted $baseColor;
}

.store-dot {
  // width: 22px;
  // height: 22px;
  // border-radius: 16px;
  border: 2px solid $accentColor;
  cursor: pointer;
  z-index: 1;

  width: 18px;
  height: 18px;
  border-radius: 50% 50% 50% 0;
  background: #575757;
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(-45deg);
  // background-image: url(./images/hl_icon2.png);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
  // &:after {
  //   content: '';
  //   width: 14px;
  //   height: 14px;
  //   margin: 8px 0 0 8px;
  //   background: hotpink;
  //   position: absolute;
  //   border-radius: 50%;
  // }
  @keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-50px) rotate(-45deg);
    -moz-transform: translateY(-50px) rotate(-45deg);
    -o-transform: translateY(-50px) rotate(-45deg);
    -ms-transform: translateY(-50px) rotate(-45deg);
    transform: translateY(-50px) rotate(-45deg);
  }
  25% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    -moz-transform: translateY(30px) rotate(-45deg);
    -o-transform: translateY(30px) rotate(-45deg);
    -ms-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg);
  }
  45% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  65% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
}
}

.store-info {
  width: 125px;
  height: 60px;
  background: white;
  border: 2px solid $accentColor;
  position: absolute;
  top: -60px;
  left: 10px;
  font-size: 0.92em;
  color: black;
  // display: this.state.hover ? block : none;
  z-index: 1000;
}
