$primaryColor: rgb(230, 157, 50);
$accentColor: rgb(255, 184, 0);
$baseColor: rgb(33, 33, 33);
$backgroundColor: rgba(242,242,242,1);
$headFont: 'Crimson Text', serif;
$baseFont: 'Open Sans', sans-serif;
// rgb(230, 157, 50)

body {
  margin: 0;
  font-size: 16px;
  background: $backgroundColor;
  color: $baseColor;
  font-family: $baseFont;
}

a {
  color: $primaryColor;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;

  &:hover {
    color: $accentColor;
  }

}

.card-heading {
  font-family: $headFont;
  font-weight: normal;
  font-size: 2.2em;
}

h3 {
  font-family: $headFont;
  font-weight: normal;
  font-size: 1.5em;
  // border: 1px dashed $baseColor;
}

.sock-tile {
  // border: 1px dotted $baseColor;
  // border-radius: 3px;
  // -moz-border-radius: 3px;

  background: white;
  height: 100%;
  box-sizing: border-box;
  // margin-bottom: 150px;
  -webkit-box-shadow: 0 10px 6px -6px #AAA;
   -moz-box-shadow: 0 10px 6px -6px #AAA;
        box-shadow: 0 10px 6px -6px #AAA;

  .sock-tile-head {
    // background: $baseColor;
    background: rgba(44,44,44,1);
    background: -moz-linear-gradient(top, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,44,44,1)), color-stop(100%, rgba(60,60,60,1)));
    background: -webkit-linear-gradient(top, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    background: -o-linear-gradient(top, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    background: -ms-linear-gradient(top, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    background: linear-gradient(to bottom, rgba(44,44,44,1) 0%, rgba(60,60,60,1) 100%);
    color: $accentColor;
    padding-bottom: 5px;
  }

  .sock-tile-title {
    font-family: $headFont;
    font-weight: normal;
    font-size: 1.7em;
  }

  form {
      padding: 5px 5px 5px 15px;
  }
}

.text-center {
  text-align: center;
}

tr:nth-child(even) {
  background: rgba($baseColor, 0.05);
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;

  .top-bar-left {
    margin: auto;
  }

  .top-bar-center {
    margin: auto;
  }

  .top-bar-right {
    margin: auto;
  }

  a {
    margin: 0 8px;
  }
}

.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.nav a {
  margin: 0 8px;
}

.bottom-bar {
  position: fixed;
  text-align: center;
  left: 0px;
  bottom: 0px;
  height: 64px;
  width: 100%;
  color: $primaryColor;
  background: $backgroundColor;
  border-top: 1px dotted $baseColor;

  .bottom-bar-left {
    float: left;
    padding-left: 3em;
  }

  .bottom-bar-right {
    float: right;
    padding-right: 3em;
    padding-top: 0.5em;
  }
}

.bottom-bar-padding {
  height: calc(100vh - 164px);
  overflow: auto;
}

.container {
  background: $backgroundColor;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  padding: .5em;
}

.content {
  width: 100%;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.default-shipping {
  margin: auto;
  padding: 1em 3em 1em 3em;
}

.additional-info {
  display: flex;
  width: 100%;
  padding-top: 1em;
}

.additional-info-box {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
}

.hidden {
  display: none;
}

.overlay-spinner {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
}

.center {
  margin: auto;
}

.additional-info-column {
  /*width: 100px;*/
  margin: auto;
}

.warning-message {
  font-style: italic;
  font-size: 0.8em;
  color: rgb(210, 139, 65);
  padding: 10px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.order-input {
  width: 3em;
}

.pointer:hover {
  cursor: pointer;
  background: $primaryColor;
  transition: 0.4s;
}

.order-history {
  width: 100%;
}
